/*  I've struggled some with the positioning of elements, especially in different resolutions, but I hope and think 
	this looks ok on most of the res.
	I've also seperated the css into different segments - tags, classes and ids.
*/


html, body, section {
			font-family: Helvetica;
			height:95%;
			padding:0;
			margin:0;
			background-color: hsl(210, 46%, 55%);
			color:white;
		}

		header {
			position: relative;
			margin-right:0%;
			margin-left:1%;
			top:1%;
			text-align: center;
		}
		h1 {
			text-align: center;
		}

		img {
			height:30%;
			width:30%;
			padding-top:10px;
			float:left;
			-webkit-filter:grayscale(100%);
			-moz-filter:grayscale(100%);
			filter:grayscale(100%);
		}

		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		nav {
			position: absolute;
			height: 4%;
			margin-left:30%;
			margin-right:400px; 
			bottom:125px;
		}

		nav li {
			line-height: 100px;
			display:inline-block;
			width: 100px;
			height: 100px;
			text-align: center;
			border:solid 5px black;
			border-radius:100%;
			background-color: hsl(114, 22%, 60%);
			font-size: 18px;
			
		}

		nav a:link,nav a:visited {
			text-decoration: none;
			display:block;
			width: 100%;
			height: 100%;
			color:white;
		}

		nav li:hover {					/* Hover must come after a link and visited */
			color:white;
			text-transform: uppercase;
			border:solid 5px white;
		}

		.date {
			white-space:nowrap;
		}

		.job_description {
			width: 100%;
		}
		
		.information_box {
			overflow: hidden;
			display: block;
			position: relative;
			top:1%;
			margin-left: 23%;
			margin-right: 20%;
			height:70%;
			width:50%;
			padding:20px;
			border:solid 5px white;
		}

		.information_box a:link, a:visited {
			text-decoration: none;
			border-bottom: 2px dotted;
			color:white;

		}

		#details {
			float:right;
			text-align: left;
			padding-top:300px;
		}

		#aboutme {
<<<<<<< HEAD
			margin-bottom: 450px;
=======
			margin-bottom: 600px;
>>>>>>> gh-pages
			text-align: justify;
		}

		#career {
			clear:both;
<<<<<<< HEAD
			margin-bottom: 450px;
=======
			margin-bottom: 600px;
>>>>>>> gh-pages
			text-align: left;
			table-layout: fixed; 
		}

		#qa {
<<<<<<< HEAD
			margin-bottom: 450px;		
=======
			margin-bottom: 500px;		
>>>>>>> gh-pages
		}

		#contact-info {
			clear:both;
		}